*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: #272727;
    color: white;
}
header{
    
    background-color: #111;
    color: white;
}
.navig{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    text-align: center;
}
.navbar{
    padding-right: 45px;
    padding-top: 10px;

}
.navbar a{
    padding-right: 35px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    width: 20px;
    font-weight: bold;
    
}
.navbar a:hover{
    font-size: 20px;
    color: #8181fa;
   
    
    
}
